<p id="notice"><%= notice %></p>

<p>
  <strong>/:</strong>
  <%= @member./ %>
</p>

<p>
  <strong>Memberid:</strong>
  <%= @member.memberid %>
</p>

<p>
  <strong>Password:</strong>
  <%= @member.password %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @member.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @member.lastname %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @member.teacher %>
</p>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
